* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #f1f1f1;
  --bg-secondary: #fbfbfb;
  --dark-gray: #333;
  --light-brown: #c7a17a;
  --black: #1f2226;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

body {
  background-color: var(--bg-secondary);
  background-image: url(ph/bmm6.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  aspect-ratio: auto;
  align-items: center;
  justify-content: center;
  height: auto;
  aspect-ratio: 2816/1536;
  overflow: hidden;
  
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
  
}

.card .row .icon {
  background: #223;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 50px;
}

.card .row .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
  
}

.description p {
  color: var(--bg-color);
  padding: 5px;
}

.description h4 {
  text-transform: uppercase;
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url("ph/breakfast.webp");
}

.card[for="c2"] {
  background-image: url("ph/ju.webp");
}

.card[for="c3"] {
  background-image: url("ph/smo.webp");
}

.card[for="c4"] {
  background-image: url("ph/milkk.webp");
}

.section-label {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  align-self: center;
  margin: auto;
  padding-top: 30px;
  padding-left: 40%;
}

.section-label::after {
  content: "";
  display: block;
  width: 70%;
  height: 4px;
  background-color: #e67e22;
  margin: 10px auto 0;
  border-radius: 2px;
  align-self: center;
  margin: auto;
}

.description a {
  display: flex;
  margin-bottom: 10px;
  padding: 10px 16px;
  background-color: #a67c52;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  width: fit-content;
  
}

.ex{
    display: flex;
}

.description a:hover {
  background-color: var(--black);
}

.description a i {
  margin-left: 8px;
}

#header {
  position: fixed;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

#header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  height: 100px;
}

#header .navbar .logo {
  width: 300px;
}

#header .navbar ul {
  display: flex;
}

#header .navbar ul li a {
  color: var(--dark-gray);
  font-size: 18px;
  font-weight: 500;
  margin: 0 20px;
  transition: all 0.3s ease;
}

#header .navbar ul li a:hover {
  color: var(--light-brown);
  font-size: larger;
}

span {
  color: var(--light-brown);
}